{
  "extends": ["stylelint-config-standard-scss", "stylelint-order-config-standard", "stylelint-prettier/recommended"],
  "plugins": ["stylelint-order", "stylelint-prettier"],
  "customSyntax": "postcss-scss",
  "ignoreFiles": ["dist/**.*"],
  "rules": {
    "prettier/prettier": true,
    "selector-class-pattern": null
  }
}
