body,
#app {
  margin: 0;
  overflow-x: hidden;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.ant-layout {
  background-color: #fff;
}

.ant-layout-content {
  padding-bottom: 20pt;
}

.ant-layout-header .ant-typography {
  color: #fff;
}

.top-margin {
  margin-top: 20pt;
}

.pagination {
  margin-top: 10pt;
  margin-bottom: 10pt;
}

.ant-carousel .slick-slide {
  background: #364d79;
  overflow: hidden;
}

.movie-image {
  width: 100%;
  height: 600px;
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.hide-sm-down {
  @media screen and (max-width: 575px) {
    display: none;
  }
}

.ant-card-actions {
  background-color: transparent !important;
}

.ant-card-cover--no-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  aspect-ratio: calc(5 / 7.5);
  background-color: #dbdbdb;
  img {
    width: 50%;
  }
}

.icon-btn {
  cursor: pointer;
}

.anticon {
  display: inline-flex;
}
