@import '~antd/dist/reset.css';
@import 'https://fonts.googleapis.com/css2?family=Ubuntu&display=swap';

body {
  font-family: Ubuntu, sans-serif;
  overflow-x: hidden;

  * {
    font-family: inherit !important;
  }
}

.container {
  width: 100%;
  max-width: 1320px;
  padding-right: 12px;
  padding-left: 12px;
  margin-right: auto;
  margin-left: auto;
}

.center {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.text-center {
  text-align: center;
}

.text-white {
  color: #fff !important;
}

.error-title {
  margin-top: 64px;
}

.ant-layout-content {
  min-height: calc(100vh - 134px);
  padding-bottom: 12px;
}

.ant-layout-header {
  position: sticky;
  z-index: 999;
  top: 0;
  padding: 0 12px;
  box-shadow:
    0 1px 2px -2px rgb(0 0 0 / 16%),
    0 3px 6px 0 rgb(0 0 0 / 12%),
    0 5px 12px 4px rgb(0 0 0 / 9%);

  @media (width >= 768px) {
    padding: 0 24px;
  }

  @media (width >= 1200px) {
    padding: 0 48px;
  }
}

.top-margin {
  margin-top: 24px;
}

.bottom-margin {
  margin-bottom: 24px;
}

.pagination {
  margin-top: 16px;
  margin-bottom: 16px;
}

.ant-carousel .slick-slide {
  overflow: hidden;
  background: #364d79;
}

.movie-image {
  width: 100%;
  height: 400px;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (width >= 1024px) {
    height: calc(100vh - 150px);
  }
}

.hide-sm-down {
  @media (width <= 575px) {
    display: none;
  }
}

.ant-card-actions {
  background-color: transparent !important;
}

.ant-card-cover img {
  height: auto;
}

.ant-card-cover--no-image {
  display: flex !important;
  align-items: center;
  justify-content: center;
  border-radius: 8px 8px 0 0;
  aspect-ratio: calc(5 / 7.5);
  background-color: #dbdbdb;

  img {
    width: 50%;
  }
}

.ant-btn.ant-btn-circle.ant-btn-text.ant-btn-icon-only {
  display: inline-flex;
  width: 38px;
  height: 38px;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;

  .anticon {
    font-size: 38px;
  }

  &:hover,
  &:active {
    background: transparent !important;
  }
}

.logo {
  font-size: 1.2rem;
  font-weight: 600;
}

.total-count {
  font-weight: 400;
  opacity: 0.55;
}

.crew-group + .crew-group {
  margin-top: 12px;
}

.person-poster {
  overflow: clip;
  border-radius: 8px;

  img {
    display: block;
    width: 100%;
  }
}

.person-poster--no-image {
  display: flex !important;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  aspect-ratio: calc(5 / 7.5);
  background-color: #dbdbdb;

  img {
    width: 50%;
  }
}

.social-link__list {
  margin-top: 16px;

  @media (width <= 575px) {
    margin-top: 12px;
    margin-bottom: 16px;
  }
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2a2a2a;
  font-size: 28px;

  &:hover,
  &:focus {
    color: #666;
  }
}

.credits-table {
  .ant-table-cell {
    padding: 12px 14px !important;
  }
}
