body,
#app {
  margin: 0;
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 1320px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 12px;
  padding-left: 12px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.text-center {
  text-align: center;
}

.ant-layout {
  background-color: #fff;
}

.ant-layout-content {
  padding-bottom: 12pt;
}

.ant-layout-header {
  position: sticky;
  top: 0;
  z-index: 999;
  padding-right: 24px;
  padding-left: 24px;
  box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.12), 0 5px 12px 4px rgba(0, 0, 0, 0.09);
}

.ant-layout-header .ant-typography {
  color: #fff;
}

.top-margin {
  margin-top: 20pt;
}

.pagination {
  margin-top: 12pt;
  margin-bottom: 12pt;
}

.ant-carousel .slick-slide {
  background: #364d79;
  overflow: hidden;
}

.movie-image {
  width: 100%;
  height: 400px;
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @media (min-width: 1024px) {
    height: calc(100vh - 200px);
  }
}

.hide-sm-down {
  @media screen and (max-width: 575px) {
    display: none;
  }
}

.ant-card-actions {
  background-color: transparent !important;
}

.ant-card-cover--no-image {
  display: flex !important;
  justify-content: center;
  align-items: center;
  aspect-ratio: calc(5 / 7.5);
  background-color: #dbdbdb;
  border-radius: 8px 8px 0 0;
  img {
    width: 50%;
  }
}

.icon-btn {
  cursor: pointer;
}

.anticon {
  display: inline-flex;
}
